oauth-plugin gem not compliant with RFC6749

When using the token controller, oauth-plugin reads and compares the client_secret. Yet in RFC6749 section 4.1.3 "Access Token Request", client_secret is not part of a request.

This non-compliance breaks clients like golang.org/x/oauth2

Hello,

Could you be a little bit more explicit about this potential issue? With an example maybe?

The issue in my case is with the "Authorization Code Grant" flow (4.1).

After having received an authorization code, the oauth2 go package sends a token request without including client_secret, as it is not even mentioned as a request parameter in (4.1.3).

Because oauth-plugin does require it, it returns the "invalid_client" error. As such the go package is not able to request a token by default.